<footer class="card-footer mt-auto text-body-secondary text-center">
  <div class="d-flex lh-1 p-2 justify-content-between">
    <%= image_tag 'Cristiano-Ronaldo-Silhouette.jpg', alt: 'CR7', size: '50x60' %>

    <div>
      <ul class="list-inline">
        <li class="list-inline-item"><i class="fa-brands fa-facebook fa-2xl"></i></li>
        <li class="list-inline-item"><i class="fa-brands fa-square-reddit fa-2xl"></i></li>
        <li class="list-inline-item"><i class="fa-brands fa-square-twitter fa-2xl"></i></li>
        <li class="list-inline-item"><i class="fa-brands fa-square-x-twitter fa-2xl"></i></li>
      </ul>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="#" class="text-decoration-none">Home</a></li>
        <li class="list-inline-item"><a href="#" class="text-decoration-none">About</a></li>
        <li class="list-inline-item"><a href="#" class="text-decoration-none">Contact Us</a></li>
        <li class="list-inline-item"><a href="#" class="text-decoration-none">Our Team</a></li>
      </ul>
    </div>

    <%= image_tag 'quim.jpg', alt: 'Quim Barreiros', size: '50x60' %>

  </div>
  © 2023 Zeca Vrum Vrum, Lda
</footer>
