<footer class="card-footer mt-2 text-body-secondary text-center">
  <div class="d-flex lh-1 p-2 justify-content-between">
    <%= image_tag 'ronaldo.png', alt: 'CR7', size: '60x70' %>

    <div>
      <ul class="list-inline mt-4">
        <li class="list-inline-item m-1"><a href="https://www.facebook.com/Visitportugal?locale=pt_PT" target=”_blank” class="fa-brands fa-facebook-f fa-2xl" style="color: #9e2a2b"></a></li>
        <li class="list-inline-item m-1"><a href="https://www.reddit.com/r/PORTUGALCARALHO/" target=”_blank” class="fa-brands fa-reddit-alien fa-2xl" style="color: #9e2a2b"></a></li>
        <li class="list-inline-item m-1"><a href="https://www.cm-tv.pt/" target=”_blank” class="fa-regular fa-newspaper fa-2xl" style="color: #9e2a2b;"></a></li>
        <li class="list-inline-item m-1"><a href="https://x.com/selecaoportugal?s=20" target=”_blank” class="fa-brands fa-x-twitter fa-2xl" style="color: #9e2a2b"></a></li>
        <li class="list-inline-item m-1"><a href="https://radioportugal.net/radio-amalia" target=”_blank” class="fa-solid fa-radio fa-2xl" style="color: #9e2a2b"></a></li>

      </ul>
    </div>

    <%= image_tag 'quim.jpg', alt: 'Quim Barreiros', size: '60x70' %>

  </div>
  © 2023 Zeca Vrum Vrum, Lda
</footer>
