<div class="banner mt-3" style="background-image: url(https://i.redd.it/mais-tuga-n%C3%A3o-%C3%A9-poss%C3%ADvel-avistado-em-toronto-canad%C3%A1-v0-mzh1h5ksztv91.jpg?s=d063ec4d0029ff3bf40dbcf7dd63512af7c2d679);">
</div>

<div class="container mt-5 d-flex justify-content-center">
  <div class="intro text-center">
    <h1>CARROS DO ZECA</h1>
    <h3>💥💥 Explore the world's largest car sharing marketplace 💥💥</h3>
    <p>(at least according do Zeca)</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="https://d3bzyjrsc4233l.cloudfront.net/news/MG_SUV.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Book a car</h5>
          <p class="card-text">Want a car to take your lady to Mc Donald's? Check our deals!!!!</p>
            <div>
              <%= link_to "DALEEEEE", cars_path, :class => "btn btn-warning" %>
            </div>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="card">
        <img class="card-img-top" src="https://images.hgmsites.net/lrg/sleazy-car-salesman_100183514_l.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Become a host</h5>
          <p class="card-text">Have a super dripped vehicle stopped at home? Put it for rental!!!!</p>
          <div>
              <%= link_to "TURRRBOO", new_car_path, :class => "btn btn-warning" %>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
