<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="confirmation-container text-center text-justify">
                <h1><i class="fa-solid fa-envelope-circle-check"></i></h1>
                <h1 class="mb-4">Thank you!</h1>
                <p>Your reservation is confirmed.</p>

                <!-- Add the button here -->
                <p><button onclick="window.location.href = 'link-to-reservations-page';" class="btn btn-primary">See my reservations</button></p>

                <!-- Add the image under the button -->
                <p><img src="https://risibank.fr/cache/medias/0/6/609/60956/full.png" alt="Reservations Image" class="img-fluid mt-3"></p>
            </div>
        </div>
    </div>
</div>
