<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="confirmation-container text-center text-justify">
                <h1><i class="fa-solid fa-envelope-circle-check"></i></h1>
                <h1 class="mb-4">Thank you!</h1>
                <p>Thank you for choosing Carros Do Zeca for your car sharing needs.</p>
                <p>Your reservation is confirmed.</p>

                <p><a href="<%= reservations_path %>" class="btn btn-primary">See my reservations</a></p>

                <p><img src="https://risibank.fr/cache/medias/0/6/609/60956/full.png" alt="Reservations Image" class="img-fluid mt-3"></p>
            </div>
        </div>
    </div>
</div>
