
 <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="confirmation-container text-center text-justify">
                  <h1><i class="fa-solid fa-envelope-circle-check"></i></h1>
                    <h1 class="mb-4">Thank you!</h1>
                    <p>Thank you for choosing Carros Do Zeca for your car sharing needs.</p>
                    <p>Your reservation is confirmed.</p>

                    <div class="social-buttons">
                        <p class="mb-2">Let's be friends on the Metaverse:</p>
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-square-instagram"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
