<%# fazer navbar %>

<div class='header' style = 'text-align: center; margin: 0 auto'>
  <h1>Available Cars</h1>
</div>

<div class="container mt-5 d-flex justify-content-center">
  <div class="row">
    <% @cars.each do |car| %>
      <div class="card-trip col-3">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h2><%= car.brand %> <%= car.model %></h2>
            <p><%= car.description %></p>
          </div>
          <h2 class="card-trip-pricing"><%= car.price %>€/per day</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>

    <% end %>
  </div>
</div>
