
<div class="container mt-5 ml-5">
  <div class="alignment" >
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjD2x4xEGygFb46PitJERsn3egbRMqvB7aQ4H5uAS0MgqaJeNEodadrW0eUH_g2Jb4Hlg&usqp=CAU", style='width: 800px; margin-right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)'/>
  </div>
  <div class="row align-items-stretch mt-5 mb-5">
    <div class="col-sm d-flex align-items-center">
        <div class="card-product-infos">
          <%= render @car %>
        </div>
    </div>
    <div class="col-sm mb-5">
      <div style="margin-top: 30px; margin-left: 45px; text-align: left">
        <% if policy(@car).edit? && policy(@car).destroy? %>
          <%= link_to "Edit this car", edit_car_path(@car) %>
          <%= button_to "Destroy this car", @car, method: :delete %>
        <% else %>
            <%= render 'reservations/form', car: @car, reservation: @reservation %>
        <% end %>
      </div>
    </div>
  </div>
</div>
