

<div class="card-product", style = 'display: flex; align-items: center'>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", style = 'max-width: 600px; margin: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)'/>
  <div class="card-product-infos">
    <h4 style = 'margin-left: 10px'><%= render @car %></h4>
  </div>
</div>

<div style="margin-top: 10px; margin-right: 10px; text-align: right">
  <%= link_to 'Book car', new_car_reservation_path(@car), class: 'btn btn-new_reservation' %>
</div>
