
<div class="container">
  <div class="row">
    <div class="card-product d-flex align-items-center">
      <div class="alignment" >
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjD2x4xEGygFb46PitJERsn3egbRMqvB7aQ4H5uAS0MgqaJeNEodadrW0eUH_g2Jb4Hlg&usqp=CAU", style='width: 600px; margin-right: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)'/>
        <div style="margin-top: 5px; margin-left: 45px; text-align: left">
          <%= link_to 'Allons y les copains', new_car_reservation_path(@car), class: "btn btn-danger btn-lg" %>
        </div>
      </div>
      <div class="card-product-infos">
        <%= render @car %>
      </div>
    </div>
  </div>
</div>
