

<div class="card-product", style = 'display: flex; align-items: center'>
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg", style = 'max-width: 600px; margin: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.6)'/>
  <div class="card-product-infos">
    <h4 style = 'margin-left: 10px'><%= render @car %></h4>
  </div>
</div>
